<html>
<head>
<meta http-equiv="refresh" content="5;URL=https://SP_DOMAIN" />
</head>
<body>
<h1>This is the Logout test page</h1>
<p>Exiting the IDP. In a few seconds you will be redirected to the authorization page.</p>
</body>
</html>
